body {
   background-color: #ffe37c;
   font-family: "Jolly Lodger", cursive;
   font-family: "Open Sans", sans-serif;
   color: #000;
}

input[type="radio"] {
   appearance: none;
}

.main {
   padding: 4em 5%;
}

h1 {
   margin-bottom: 1.5em;
}

.container {
   max-width: 68em;
   margin: 0 auto;
   /* padding: 0 1.5em; */
}

.main__container {
   margin: 2em 0;
}

.main__container .accardion-body {
   margin: 0 auto;
   height: 0;
   color: rgba(0, 0, 0, 0);
   background-color: transparent;
   line-height: 1.5em;
   padding: 0 3em;
   box-sizing: border-box;
   transition: color 0.5s, padding 0.5s;
   overflow: hidden;
   font-family: Verdana, sans-serif;
   font-size: 1.6em;
   transition: all 0.5s;
}

.main__container .accardion-body img {
   max-width: 25em;
   display: block;
   width: 100%;
   margin: 1em auto;
}

.accardion-head {
   border-bottom: 0.2em solid #000;
   font-weight: 700;
}
.accardion-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.main__container label {
   cursor: pointer;
   display: block;
   padding: 2% 10%;
   width: 100%;
   box-sizing: border-box;
   z-index: 100;
   font-family: Verdana, sans-serif;
   font-size: 1.3em;
   transition: color 0.35s;
}

.main__container input {
   display: none;
}

.close-btn {
   height: 1.5em;
   width: 1.5em;
   display: block;
   transform: rotate(45deg);
}

.main__container input[type="radio"]:checked + label .close-btn {
   transform: rotate(0deg);
}

.main__container input[type="radio"]:checked + label {
   color: #000;
}

.main__container input[type="radio"]:checked + label .accardion-body {
   height: auto;
   /* margin-top: -0.5em; */
   color: #000;
   padding: 5% 10%;
   transition: all 0.5s;
   opacity: 1;
}

.accardion-body {
   display: block;
   opacity: 0;
   transition: all 0.5s;
}

.main__container label .close-btn {
   opacity: 0;
   transition: all 0.3s;
}

.main__container label:active {
   fill: #20d3c4;
   color: #20d3c4;
   transition: all 0.1s;
}

.main__container label:active h4 {
   color: #20d3c4;
   transition: all 0.3s;
}

.main__container label h4 {
   transition: all 0.3s;
}

.main__container input[type="radio"] + label {
   color: #20d3c4;
}

input[type="radio"]:checked + label {
   color: #000;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
   .accardion-head h4 {
      font-size: 0.8em;
   }

   .main__container label {
      padding: 4% 5%;
   }

   .main__container input[type="radio"]:checked + label .accardion-body {
      padding: 0 0;
   }

   .accardion-info h4 {
      margin-right: 1em;
   }

   .main__title {
      font-size: 1.6em;
   }

   .close-btn {
      width: 1em;
      height: 1em;
   }
}

@media screen and (min-width: 820px) and (max-width: 1920px) {
   .accardion-head h4 {
      font-size: 1em;
   }

   .accardion-info h4 {
      margin-right: 1em;
   }

   .main__title {
      font-size: 2.5em;
   }

   .close-btn {
      width: 1.3em;
      height: 1.3em;
   }
}

@media screen and (min-width: 1920px) {
   .accardion-head h4 {
      font-size: 1.2em;
   }

   .main__title {
      font-size: 3em;
   }

   .close-btn {
      width: 1.7em;
      height: 1.7em;
   }

   .main__container label {
      padding: 2% 3%;
   }
}



@media (hover: hover) {
   /* when hover is supported */
   
   .main:hover input[type="radio"] + label {
      color: #000;
   }

   .main__container:hover label .close-btn {
      opacity: 1;
      transition: all 0.3s;
   }

   .accardion-head .accardion-body {
      transition: all 0.4s;
   }
   
   .accardion-head:hover .accardion-body {
      height: auto;
      opacity: 1;
      animation-name: meme;
      animation-duration: 0.5s;
      transition: all 0.5s;
   }
}

@media (hover: none) {
   .main input[type="radio"]:checked + label {
      color: #000;
      transition: all 0.4s;
   }
   .main input[type="radio"] + label {
      color: #20d3c4;
      transition: all 0.4s;
   }

   .main__container label .close-btn {
      opacity: 1;
      transition: all 0.3s;
   }
}

@keyframes meme {
   0% {scale: 0;}
   100% {scale: 1;}
}
